.b-avatar {
  position: relative;
  &__content {
    display: flex;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ffffff;
    position: relative;
  }
  &__vip {
    position: absolute;
    width: 27.5%;
    height: 27.5%;
    right: 0;
    bottom: -1px;
  }
}
