@use '@/style/break-point' as bk-layout with($key: layout);
@use '@/style/mixins' as *;

:root {
  --h-header: 64px;
  --Wh0: #ffffff;
  --Ga0: #f6f7f8;
  --Ga0_s: #f6f7f8;
  --Ga1: #f1f2f3;
  --Ga1_s: #f1f2f3;
  --Ga2: #e3e5e7;
  --Ga3: #c9ccd0;
  --Ga5: #9499a0;
  --Ga7: #5b6167;
  --Ga10: #18191c;
  --Ga11: #ffffff;
  --Lb4: #40c5f1;
  --Lb5: #00aeec;
  --Pi5: #ff6699;
  --bg1: var(--Wh0);
  --bg1_float: var(--Ga11);
  --bg2: var(--Ga0);
  --bg3: var(--Ga1);
  --graph_bg_regular: var(--Ga1_s);
  --graph_bg_thick: var(--Ga2);
  --graph_bg_thin: var(--Ga0_s);
  --graph_weak: var(--Ga3);
  --graph_icon: var(--Ga7);
  --line_regular: var(--Ga2);
  --line_light: var(--Ga1_s);
  --m0: 8px;
  --m1: 10px;
  --m2: 12px;
  --m3: 14px;
  --m4: 16px;
  --m5: 18px;
  --m6: 20px;
  --radius0: 4px;
  --radius1: 6px;
  --radius2: 8px;
  --radius3: 10px;
  --fs0: 12px;
  --fs1: 13px;
  --fs2: 14px;
  --fs3: 16px;
  --fs4: 18px;
  --fs5: 20px;
  --text1: var(--Ga10);
  --text2: var(--Ga7);
  --text3: var(--Ga5);
  --text4: var(--Ga3);
  --text_white: #ffffff;
  --link_blue: var(--Lb5);
  --brand_blue: var(--Lb5);
  --brand_pink: var(--Pi5);
  --layout_padding: 140px;
  --layout_content_max_width: 2560px;
  --layout_max_width: calc(1980px + 2 * var(--layout_padding));
}

@include bk-layout.mq($from: lg) {
  :root {
    --layout_padding: 140px;
  }
}

@include bk-layout.mq($until: lg) {
  :root {
    --layout_padding: 60px;
  }
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
  line-height: 1.25;
}

body *,
body *:before,
body *:after {
  box-sizing: border-box;
}

body {
  min-width: 1080px;
  min-height: 200vh;
  background-color: var(--graph_bg_regular);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-64px);
  }

  50% {
    transform: translateY(-64px);
  }
  55% {
    transform: translateY(-128px);
  }
  to {
    transform: translateY(-128px);
  }
}

@keyframes jump {
  50% {
    transform: translateY(-0.2em);
  }

  to {
    transform: translateY(0);
  }
}

.v-img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1;
}

.v-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: inherit;
}

/*
 * float-vue-theme
 */
@keyframes topToBottom {
  0% {
    top: calc(-1 * var(--m1));
  }
  100% {
    top: 0;
  }
}
@include create-float-vue-theme(header-card-bottom, topToBottom);

@keyframes leftToRight {
  0% {
    left: calc(-1 * var(--m1));
  }
  100% {
    left: 0;
  }
}
@include create-float-vue-theme(header-card-right, leftToRight);

@keyframes bottomToTop {
  0% {
    top: calc(1 * var(--m1));
  }
  100% {
    top: 0;
  }
}
@include create-float-vue-theme(header-card-top, bottomToTop);
